# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
app/main

# Go specific
*.test
*.out
go.sum

# Kubernetes
*.kubeconfig

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
